.App {

 background: rgb(0, 68, 0);
 width:100%;
 height:100vh;
 margin:0px;
 padding:0px;
 background-image: linear-gradient(to right, rgb(0, 91, 0), rgb(4, 42, 4));
}

.App-header {

 width:100%;
 height:35vh;
 text-align:center;
}

.titulo_content{
  background: indigo;
  width:344px;
  min-width:344px;
  text-align:center;
  color:white;
  float:left;
  margin-left:38%;
}

.BrBasup_content{
  min-width: 100px;
  width:100px;
  height:100px;
  background: rgb(1, 47, 1);
  float:left;
}

.destacar{

  color:white;
  font-size:5em;
  margin:0px;
  padding:0px;
  float:left;
}

.supStyle{

  margin:0px;
  padding:0px;
  margin-right:2px;
}

.frase{

  font-size:5.2em;
  color:rgb(0, 34, 0);
  float:left;
  width:none;
}

.ajuste{

  font-size:4.85em;
}

.ajuste_frase2{

  margin-left:28%;
}

@media(max-width:1200px)
{
  .titulo_content{
    margin-left:35%;
  }
}

@media(max-width:992px)
{
  .titulo_content{
    margin-left:30%;
  }
}

@media(max-width:768px)
{
  .titulo_content{
    margin-left:20%;
    
  }
}

@media(max-width:520px){
  .titulo_content{
    margin-left:10%;
    
  }
}

@media(max-width:520px){
  .titulo_content{
    margin-left:0%;
      
    
  }
}